.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.about__section {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, var(--main-color) 85%, var(--main-text-color));
    border-radius: 30px;
    max-width: 500px;
}

.about__title {
    font-family: var(--title-font);
    color: var(--main-text-color);
}

.about__desc {
    color: var(--main-text-color);
    padding: 1px;
    font-family: var(--main-font);
}
