

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 30px;
}

.hero_img {
    width: 45%;
}   

.title {
    font-size: 4rem;
    font-weight: 500;
    color: var(--main-text-color);
    font-family: var(--title-font);
    margin: 20px 0px 10px 0px;
}

.text {
    font-size: 1rem;
    color: black;
    font-family: var(--text-font);
}

.tech {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.techlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.techstack {
    width: 170px;
}

.tech_stack {
    color: var(--main-text-color);
    font-family: var(--title-font);
    font-weight: 100;
}

.github {
width: 45px;
height: 45px;
}


@media only screen and (max-width: 800px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 0px 0px 0px 0px;       
        margin: 0px;
    }

    .title {
        font-size: 2.8rem;
    }
    
    .hero_img {
        width: 100%;
    }

    .tech {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
            width: 88%;
            margin: 0 auto;
        
    }
}

