


.footer {
    background: linear-gradient(60deg, var(--main-color) 60%, var(--main-text-color));
    height: 100px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.paragraph {
    color: var(--main-text-color);
    font-size: small;
}