@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
   --main-color: #F0F0E9;
   --main-text-color: #a97f00;
   --main-font: 'Nunito Sans', sans-serif;
   --title-font: 'Fjalla One', sans-serif;

} 

[data-theme="dark"] {
  --main-color: #000000bd;
  --main-text-color: rgb(70, 192, 0);
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}