
.portfolio {
    display: flex;
    justify-content: center;
}

.section_github {
    display: flex;
    background: linear-gradient(60deg, var(--main-color) 35%, var(--main-text-color));
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    width: 150px;
    height: 60px;
    align-items: center;
    justify-content: center;
    
}

.github {
    width: 40px;
    margin-left: 10px;
    }

  

    @media only screen and (max-width: 900px) {
        .section_api {
            background-color: var(--main-color);
            margin: 15px;
            min-height: 80vh;
            border-radius: 20px;
        }
       
        article {
            margin: 10px;
            padding: 10px;
        }
    }
    